USE [master]
GO
/****** Object:  Database [LetsSaleDB]    Script Date: 16.05.2024 13:52:12 ******/
CREATE DATABASE [LetsSaleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LetsSaleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LetsSaleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LetsSaleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LetsSaleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LetsSaleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LetsSaleDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarCategories]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarCategories](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarPics]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarPics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CarPicsPath] [nvarchar](max) NOT NULL,
	[CarID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarsID] [int] IDENTITY(1,1) NOT NULL,
	[CMainID] [uniqueidentifier] NOT NULL,
	[CarName] [nvarchar](20) NOT NULL,
	[CarBrand] [nvarchar](20) NOT NULL,
	[CarPrice] [int] NOT NULL,
	[CarPlateNumber] [nvarchar](20) NOT NULL,
	[CarYear] [int] NOT NULL,
	[CarColor] [nvarchar](20) NOT NULL,
	[CarHP] [int] NOT NULL,
	[CarTorque] [int] NOT NULL,
	[CarMaxFuelTankCapacity] [int] NOT NULL,
	[CarMaxSpeed] [int] NOT NULL,
	[CarTransmission] [nvarchar](20) NOT NULL,
	[CarCargoVolume] [int] NOT NULL,
	[CarMainPic] [nvarchar](max) NOT NULL,
	[CarPicsID] [uniqueidentifier] NOT NULL,
	[CarCategoryID] [int] NOT NULL,
	[EmployeeID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EMainID] [uniqueidentifier] NOT NULL,
	[EName] [nvarchar](20) NOT NULL,
	[ELastName] [nvarchar](20) NOT NULL,
	[EPhoneNumber] [nvarchar](20) NOT NULL,
	[EEmail] [nvarchar](20) NOT NULL,
	[EPassword] [nvarchar](20) NOT NULL,
	[EStartDate] [date] NULL,
	[SaledCarsID] [int] NULL,
	[ERankID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERanks]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERanks](
	[ERankID] [int] IDENTITY(1,1) NOT NULL,
	[ERankName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ERankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notify]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notify](
	[NotifyID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [uniqueidentifier] NULL,
	[UserID] [uniqueidentifier] NULL,
	[NotifyTime] [datetime] NULL,
	[NotifyType] [bit] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotifyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaledCars]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaledCars](
	[SaledCarsID] [int] IDENTITY(1,1) NOT NULL,
	[SCMainID] [uniqueidentifier] NOT NULL,
	[SCarName] [nvarchar](20) NOT NULL,
	[SCarBrand] [nvarchar](20) NOT NULL,
	[SCarSaleDate] [datetime] NULL,
	[SCarPrice] [nvarchar](20) NOT NULL,
	[SCarPlateNumber] [nvarchar](20) NOT NULL,
	[EmployeeID] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[SCarCategoryID] [int] NULL,
	[SCarMainPic] [nvarchar](max) NULL,
 CONSTRAINT [PK__SaledCar__5DD2E82407338548] PRIMARY KEY CLUSTERED 
(
	[SaledCarsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCars]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCars](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[SMainID] [uniqueidentifier] NULL,
	[SCarID] [uniqueidentifier] NULL,
	[SUserID] [uniqueidentifier] NULL,
	[SEmployeeID] [uniqueidentifier] NULL,
	[SDesc] [text] NULL,
	[SstartDate] [datetime] NULL,
	[SfinishDate] [datetime] NULL,
	[IsFinish] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysLogs]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogDesc] [nvarchar](max) NOT NULL,
	[LogDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCars]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CMainID] [uniqueidentifier] NOT NULL,
	[CarName] [nvarchar](20) NOT NULL,
	[CarBrand] [nvarchar](20) NOT NULL,
	[CarPlateNumber] [nvarchar](20) NOT NULL,
	[CarYear] [int] NULL,
	[CarSaleDate] [datetime] NULL,
	[UserID] [uniqueidentifier] NULL,
 CONSTRAINT [PK__UserCars__68A0340E58B99A1E] PRIMARY KEY CLUSTERED 
(
	[CMainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UMainID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[UserLastName] [nvarchar](20) NOT NULL,
	[UserPhoneNumber] [nvarchar](20) NOT NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](20) NOT NULL,
	[UserRegisterDate] [datetime] NULL,
	[UserCarsID] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Users__1788CCAC809F2B78] PRIMARY KEY CLUSTERED 
(
	[UMainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [EStartDate]
GO
ALTER TABLE [dbo].[SaledCars] ADD  DEFAULT (getdate()) FOR [SCarSaleDate]
GO
ALTER TABLE [dbo].[ServiceCars] ADD  DEFAULT (getdate()) FOR [SstartDate]
GO
ALTER TABLE [dbo].[ServiceCars] ADD  DEFAULT (getdate()) FOR [SfinishDate]
GO
ALTER TABLE [dbo].[SysLogs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[UserCars] ADD  DEFAULT (getdate()) FOR [CarSaleDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UserRegisterDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('5C45C45C-CDCE-4BD6-83CC-F63C0FEFC35F') FOR [UserCarsID]
GO
ALTER TABLE [dbo].[SaledCars]  WITH CHECK ADD  CONSTRAINT [FK_SaledCars_CarCategories] FOREIGN KEY([SCarCategoryID])
REFERENCES [dbo].[CarCategories] ([CatID])
GO
ALTER TABLE [dbo].[SaledCars] CHECK CONSTRAINT [FK_SaledCars_CarCategories]
GO
ALTER TABLE [dbo].[SaledCars]  WITH CHECK ADD  CONSTRAINT [FK_SaledCars_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UMainID])
GO
ALTER TABLE [dbo].[SaledCars] CHECK CONSTRAINT [FK_SaledCars_Users]
GO
ALTER TABLE [dbo].[UserCars]  WITH CHECK ADD  CONSTRAINT [FK_UserCars_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UMainID])
GO
ALTER TABLE [dbo].[UserCars] CHECK CONSTRAINT [FK_UserCars_Users]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCars]    Script Date: 16.05.2024 13:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllCars]
as
begin
	select * from Cars
end
GO
USE [master]
GO
